:root{
    --button-color: #596D48;
    --input-border-color: #E5E7EB;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Norse;
    src: url(assets/fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.body-container {
    display: flex;
}

.background-container {
    background-image: url(assets/images/halie-west-25xggax4bSA-unsplash.jpg);
    width: 60%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.background-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 40%);
    position: absolute;
    top: 36%;
}

.background-content > p {
    font-family: Norse;
    color: white;
    font-size: 5em;
}

.content-container {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 20px 0 0 0 ;
    height: 100vh;
    background-color: var(--input-border-color);
    gap: 20px;
    width: 100%;
}

.content-container > .top-content {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    font-size: 1em;
    padding-left: 30px;
    margin-top: 30px;
}

.form-separator {
    background-color: white;
    padding: 20px 30px;
    box-shadow: 0px 4px 8px 0.5px silver;
}

.wrapper {
    display: flex;
    gap: 80px;
    margin-bottom: 20px;
}


label,
input {
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

label {
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 2px;
}

input {
    padding: 5px;
    width: 100%;
    font-size: 100%;
    height: 30px;
    width: 250px;
    border: 1px solid var(--input-border-color);
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: var(--button-color);
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 8px 1px silver;
    margin-top: 30px;
    margin-left: 30px;
}